@font-face {
    font-family: Paralines;
    src: url(./Paralines-Regular.otf);
}

@font-face {
    font-family: BIG JOHN;
    src: url(./BIG\ JOHN.otf);
}

@font-face {
    font-family: Slim Joe;
    src: url(./Slim\ Joe.otf);
}